@model Core.ViewModels.InvoiceVM
@{
    ViewData["Title"] = "CreateInvoice";
    var employee = new SelectList(Model.Employees, "Id", "Name");
    var custmer = new SelectList(Model.Customers, "Id", "Name");
}

<h1>Create Invoice</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Create" class="form-group">
            
                <div class="input-group mb-3">

                <input hidden type="text" asp-for="Id" class="form-control" />
                </div>

            <div class="d-flex justify-content-between">
                <div class="input-group mb-3">
                    <label class="input-group-text" asp-for="CustomerId">Customer</label>
                    <select asp-for="CustomerId" class="form-select" asp-items="custmer">
                        <option value="0">Choose..</option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" asp-for="EmployeeId">Employee</label>
                    <select asp-for="EmployeeId" class="form-select" asp-items="employee">
                        <option value="0">Choose..</option>
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" asp-for="CreatedAt">Created At</label>
                    <input type="date" asp-for="CreatedAt" class="form-control datepicker" value="" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
            </div>

            <hr />
            <div id="InvoiceItems">
                <table id="TableID" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:5%" scope="col">#</th>
                            <th scope="col" style="width:30%">Product</th>
                            <th scope="col" style="width:20%">Quantity</th>
                            <th scope="col" style="width:15%">Price</th>
                            <th scope="col" style="width:20%">Total Price</th>
                            <th scope="col" style="width:10%">Delete</th>

                        </tr>
                    </thead>
                    <tbody id="Items">
                        @Html.Partial("_AddNewItem", Model)
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <a style="width:100%" onclick="calculateAndDisplayTotalPrice()" id="Add" class="btn btn-success">
                                    
                                    Add
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                total price :
                            </td>
                            <td id="totalprice" calculatetotalprice(); colspan="5">
                                
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="mb-3">
                <button type="submit" asp-action="CreateNewInvoice" class="btn btn-primary">Save</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
a    <script src="~/js/viewjs/totalprice.js" asp-append-version="true"></script>
    <script src="~/js/viewjs/addnewitem.js" asp-append-version="true"></script>
    <script src="~/js/viewjs/removeitem.js" asp-append-version="true"></script>
    <script src="~/js/viewjs/pricecaluclate.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.js" asp-append-version="true"></script>
    <script src="~/lib/select2/js/select2.min.js" asp-append-version="true"></script>
   
    
}
